@page "/events/{EventId}/letter/{LetterName}"
@inject LandingService LandingService
@using System.Net
@inherits LarpPage

<PageHeader Container>Event Letter</PageHeader>

@if (IsLoading)
{
    <MudOverlay Absolute DarkBackground Visible="IsLoading">
        <MudProgressCircular Indeterminate/>
    </MudOverlay>
    return;
}

@if (_errorMessage != null)
{
    <MudAlert Severity="Severity.Error" Icon="@Icons.Material.Filled.Error" Class="ma-4">
        @_errorMessage
    </MudAlert>
    return;
}

<MudContainer MaxWidth="MaxWidth.Small" Class="relative">
    <MudOverlay Absolute DarkBackground Visible="_isSaving">
        <MudProgressCircular Indeterminate/>
    </MudOverlay>

    @if (_letter.State is LetterState.Draft or LetterState.NotStarted)
    {
        <div class="my-4">
            <MudButtonGroup OverrideStyles="false">
                <MudButton Color="Color.Success" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" OnClick="Save">Save &amp; Continue Editing</MudButton>
                <MudButton Color="Color.Warning" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.VerifiedUser" OnClick="Submit">Submit</MudButton>
            </MudButtonGroup>
        </div>
    }

    <EventLetterComponent
        Letter="_letter"
        Template="_template"
        Event="_event"
        AccountNames="_accountNames"
        ReadOnly="_isReadOnly"
        Admin="false"/>

    @if (_letter.State is LetterState.Draft or LetterState.NotStarted)
    {
        <div class="my-4">
            <MudButtonGroup OverrideStyles="false">
                <MudButton Color="Color.Success" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" OnClick="Save">Save &amp; Continue Editing</MudButton>
                <MudButton Color="Color.Warning" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.VerifiedUser" OnClick="Submit">Submit</MudButton>
            </MudButtonGroup>
        </div>
    }
</MudContainer>

@code {

    [Parameter]
    public string EventId { get; set; } = default!;

    [Parameter]
    public string LetterName { get; set; } = default!;

    bool _isSaving = true;
    Letter _letter = default!;
    LetterTemplate _template = default!;
    bool _isReadOnly;
    Event _event = default!;
    IDictionary<string, AccountName> _accountNames = default!;
    string? _errorMessage = null;

    protected override async Task OnSafeParametersSetAsync()
    {
        try
        {
            var letter = await LandingService.Service.GetEventLetter(EventId, LetterName);
            _letter = letter.Letters.Values.First();
            _template = letter.LetterTemplates.Values.First();
            _event = letter.Events.Values.First();
            _accountNames = letter.Accounts;
            _isReadOnly = _letter.State is LetterState.Submitted or LetterState.Approved;
            _isSaving = false;
        }
        catch (HttpRequestException ex) when (ex.StatusCode == HttpStatusCode.BadRequest)
        {
            _errorMessage = $"The {LetterName} letter for this event is currently closed";
        }
    }

    private async Task Save()
    {
        _isSaving = true;
        await SafeActionAsync(async () => { await LandingService.Service.SaveLetter(_letter.LetterId, _letter); });
        _isSaving = false;
    }

    private async Task Submit()
    {
        var result = await DialogService.ShowMessageBox("Submit Letter", "Are you sure you want to submit this letter? You cannot edit it again.", "Yes, I'm Done", "No, Keep Editing");
        if (result != true)
        {
            await Save();
            return;
        }

        _isSaving = true;
        await SafeActionAsync(async () =>
        {
            _letter.State = LetterState.Submitted;
            await LandingService.Service.SaveLetter(_letter.LetterId, _letter);
            await OnParametersSetAsync();
        });
        _isSaving = false;
    }

}